<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PDFX- Merge PDF Files Online</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <div class="main">
        <nav class="navbar">
            <a href="#">PDFX</a>
        </nav>

        <div class="container">
            <h1>Merge PDF files</h1>
            <div class="outer">
                <div class="inner">
                    <form method="post" action="/merge" enctype="multipart/form-data">
                        <div class="form-group">
                            <h4>Drag and drop PDFs to merge them into one file with our PDF
                                combiner</h4>
                            <label for="file-input" id="file-input-label">Select PDF files <i
                                    class="ri-arrow-right-double-line"></i></label>
                            <input type="file" name="pdf" class="form-control-file choose" id="file-input" multiple
                                accept=".pdf">
                            <input class="submit" type="submit" value="submit">
                        </div>
                </div>
            </div>
            </form>
        </div>
    </div>

</body>

</html>